@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-custom {
        @apply container xl:max-w-[1280px] mx-auto;
    }

    .center-flex {
        @apply !flex !items-center !justify-center;
    }

    .center-fixed {
        @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .overlay {
        @apply fixed inset-0 bg-black/30 z-40;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: pointer;
}